header.post-list-header
  h1.post-list-header-title <strong>Welclome</strong>.
  p Hello, I’m Drew and this is my website.<br/>Idealy it will be full of articles and projects.

!= partial("_shared/articles", { postlimit: 3 })
a(href="/articles") More Articles...