header.post-list-header.index-header
  h1.post-list-header-title <strong>Welclome</strong>.
  img(src="/images/face.jpg")
  p Hello, I’m Drew and this is my website.<br/>I’m a full-stack software developer interested in programming languages, mathematics, and games.<br/>This is a place to put my thoughts. Idealy it will be full of projects and articles.

!= partial("_shared/articles", { postlimit: 3 })
a(href="/articles") More Articles...